services:
  db:
    image: postgres:17-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
      - "./pg-init.sql:/docker-entrypoint-initdb.d/master_db_init.sql"
    environment:
      - POSTGRES_PASSWORD=root
    ports:
      - "5455:5432"
volumes:
  pgdata: